

<form id="realTimeProducts">
  <div>
    <label for="formTitle">Title:</label>
    <input class="form-control" id="formTitle">
  </div>
  <div>
    <label for="formDescription">Description:</label>
    <input  class="form-control" id="formDescription">
  </div>
  <div>
    <label for="formPrice">Price:</label>
    <input  class="form-control" id="formPrice">
  </div>
  <div>
    <label for="formThumbnail">Thumbnail:</label>
    <input class="form-control" id="formThumbnail">
  </div>
  <div>
    <label for="formCode">Code:</label>
    <input  class="form-control" id="formCode">
  </div>
  <div>
    <label for="formStock">Stock:</label>
    <input  class="form-control" id="formStock">
  </div>
  <div>
    <label for="formCategory">Category:</label>
    <input class="form-control" id="formCategory">
  </div>
  <div class="botoncito">
    <button type="submit" class="btn btn-danger">Agregar</button>
  </div>
</form>

<div class="productsCardsContainer">
        <div id="productsCard" class="row"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js" integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/main.js"></script> 

</div>